.contact-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: linear-gradient(90deg, rgb(244, 194, 69), rgb(244, 92, 142));
    padding-top: 50px;
    padding-bottom: 50px;
    /* border: 1px solid red; */
}
@keyframes changeBackgroundColor {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
.contact-logos{
    width: 50%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 25px;
align-items: center;
justify-content: center;
}
.logo-items{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-items img{
    width: 50px;
    height: 50px;
}
.logo-items:hover{
    text-decoration: underline;
    cursor: pointer;
}
.contact-form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
}
.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    /* border: 1px solid red; */
}
.contact-name,.contact-message{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.contact-name input{
    width: 60%;
    outline: none;
    padding: 10px;
    border-radius: 15px;
}
.contact-message textarea{
    width: 60%;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
    resize: none;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
}
.submit-btn button{
    padding: 10px;
    /* width: 6vw; */
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    border: 2.5px solid rgb(175, 252, 60);
    background-color: white;
}
.submit-btn button:hover{
    background-color: rgb(175, 252, 60);
    color: white;
}
.visiting-logo-items img{
    width: 100%;
    height: 150px;

}
@media screen and (max-width: 800px){
.contact-page{
    flex-direction: column;
}
.contact-logos{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    width: 100%;
}
.contact-form{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding: 25px;
}
.contact{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
}
.contact-name,.contact-message{
    display: flex;
    justify-content: center;
    align-items: center;
}
}